.wrap {
  width: 300px;
  margin: 0 auto;
  padding: 40px 0px;
}
.wrap .header .re {
  margin: 0px;
  overflow: hidden;
  text-align: center;
  padding: 0px;
}
.wrap .header .re li {
  float: left;
  margin: 0px;
  list-style: none;
}
.wrap .header .re li .active {
  color: #6edeef;
  background: #545f60;
  border-left: none;
}
.wrap .header .re li a {
  padding: 10px 0px;
  float: left;
  width: 100px;
  background: #6edeef;
  text-decoration: none;
  color: white;
  border-left: 0.5px solid white;
  -moz-box-sizing: border-box;
       box-sizing: border-box;
  display: block;
}
.wrap .two {
  color: white;
  font-size: 16px;
  line-height: 1.3em;
  position: relative;
}
.wrap .two .active {
  opacity: 1;
}
.wrap .two p {
  margin: 0px;
  opacity: 0;
  position: absolute;
  top: 0px;
  left: 0px;
  text-align: left;
  background: #545f60;
  padding: 18px 30px;
}
